# DBT specific
target/
dbt_packages/
logs/
.user.yml

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# macOS
.DS_Store

# Editor specific
.idea/
*.swp
*.swo
.vscode/
